
body {
    background-color: #4180EF;
    font-size: 22px;
    padding: 50px;
    font-family: "Helvetica Neue";
}


.orange {
    padding: 12px 30px;
    border-radius: 4px;
    color: white;
    background-color: #FF6300;
    border-bottom: 2px solid yellow;
    position: relative;
    cursor: pointer;
}
.orange:after {
    content: '';
    bottom: -10px;
    left: 20px;
    border-bottom-right-radius: 11px 10px;
    border-bottom-left-radius: 11px 10px;
    height: 8px;
    width: 18px;
    position: absolute;
    background-color: #FF6300;
    border: 2px solid yellow;
    border-top: none;
}
.orange:hover {
    background-color: #FF6E0C;
}
.orange:hover:after {
    background-color: #FF6E0C;
}