
body {
    padding: 0;
    padding-top: 30px;
    margin: 0;
    background-color: #D8D8D8;
    font-size: 20px;
    overflow-x: hidden;
    font-family: PT Sans;
}

img, a, p {
    margin: 30px;
}
img {
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.3);
}

a {
    /*color: white;*/
    font-size: 20px;
}
