body {
    background-color: #322830;
}


.board {
    position: relative;
    width: 1024px;
    height: 768px;
    left: 50%;
    margin-left: -512px;
    background-color: white;
}

img {
    margin-bottom: 50px;
}