
.header {
    background-color: #4180EF;
    height: 220px;
    background-image: url('../img/pattern.svg');
    background-position: 50% 100%;
    position: relative;
}
.cell {
    width: 100px;
    height: 100px;
    box-sizing: content-box;
    position: relative;
    display: inline-block;
}
.cell-tile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/');
}
