body {
    background-color: #322830;
}


.board {
    position: relative;
    width: 1024px;
    height: 768px;
    left: 50%;
    margin-left: -512px;
    background-color: white;
}

.command-console {
    /*border: 1px solid red;*/
    position: absolute;
    width: 924px;
    top: -70px;
    left: 50px;
    text-align: left;


    /* Rectangle 3: */
    background: #F5F5F5;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.22), inset 0 4px 6px 0 rgba(227,227,227,0.50);
    border-radius: 8px;
    padding: 10px 7px 6px 8px;

}
.command-entered {
    /*border: 1px solid blue;*/
    display: inline-block;
    position: relative;
    z-index: 1;

}
.command-hint {
    /*border: 1px solid blue;*/
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 0;

}
.command {
    width: 52px;
    height: 52px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.command-left { background-image: url('../img/pic_arr_left.svg'); }
.command-right { background-image: url('../img/pic_arr_right.svg'); }
.command-up { background-image: url('../img/pic_arr_up.svg'); }
.command-down { background-image: url('../img/pic_arr_down.svg'); }
.command-left-err { background-image: url('../img/pic_arr_left_err.svg'); }
.command-right-err { background-image: url('../img/pic_arr_right_err.svg'); }
.command-up-err { background-image: url('../img/pic_arr_up_err.svg'); }
.command-down-err { background-image: url('../img/pic_arr_down_err.svg'); }
.command-cursor { background-image: url('../img/pic_cursor.svg'); animation: cursor 0.5s ease-in-out infinite alternate; }
.command-left-hint { background-image: url('../img/pic_arr_left2.svg'); }
.command-right-hint { background-image: url('../img/pic_arr_right2.svg'); }
.command-up-hint { background-image: url('../img/pic_arr_up2.svg'); }
.command-down-hint { background-image: url('../img/pic_arr_down2.svg'); }

.button-console {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.button-container {
    width: 130px;
    height: 130px;
    top: 0px;
    position: relative;
    display: inline-block;
    margin: 20px 10px 20px 10px;
    transition: top 0.2s;
    cursor: pointer;
}
.button-container.button-small {
    width: 65px;
    height: 65px;
    margin: 20px 5px 20px 5px;
}
.button-back {
    width: 100%;
    height: 100%;
    position: relative;
    /* Rectangle: */
    background-image: linear-gradient(-180deg, #B2CEE0 0%, #B2CDDF 5%, #7496AC 25%, #7496AC 73%, #415D6F 89%);
    box-shadow:
    0 4px 16px 0 rgba(4,6,8,0.18),
    0 7px 7px 0 rgba(83,130,167,0.50),
    0 2px 3px 0 #000000
;
    border-radius: 27%;
    transition: box-shadow 0.2s;
}
.button-front {
    width: 82%;
    height: 82%;
    margin-top: -91%;
    left: 9%;
    position: absolute;
    /* Rectangle Copy: */
    background-image: radial-gradient(300% 300% at 50% -10%, #8DADC1 0%, #D9EEF4 100%);
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.50);
    border-radius: 23%;
}
.button-img {
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: contain;
    top: 0;

}
.button-img.right { background-image: url('../img/arr_right.svg'); }
.button-img.left { background-image: url('../img/arr_left.svg'); }
.button-img.up { background-image: url('../img/arr_up.svg'); }
.button-img.down { background-image: url('../img/arr_down.svg'); }
.button-img.red { background-image: url('../img/color_red.svg'); }
.button-img.green { background-image: url('../img/color_green.svg'); }
.button-img.yellow { background-image: url('../img/color_yellow.svg'); }
.button-img.backspace { background-image: url('../img/backspace.svg'); }
.button-container:active { top: 2px; }
.button-container:active .button-back { box-shadow: 0 5px 5px 0 rgba(83,130,167,0.50), 0 1px 1px 0 #000000, 0 2px 7px 0 rgba(4,6,8,0.18); }


.map-canvas {
    position: absolute;
}
.bot-point {
    position: absolute;
    transition: left 0.5s, top 0.5s;
}
.bot-container {
    width: 150px;
    height: 200px;
    left: -75px;
    top: -170px;
    position: absolute;
}
.bot-img {
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: levitation 1s ease-in-out infinite alternate;
}
.bot-img.bot35 {
    background-image: url('../img/bot.svg');
}
.bot-img.bot5 {
    background-image: url('../img/bot3.svg');
}
.bot-img.bot15 {
    background-image: url('../img/bot4.svg');
}
.bot-img.bot25 {
    background-image: url('../img/bot2.svg');
}
.bot-shadow {
    position: absolute;
    background-image: url('../img/bot_shad.svg');
    background-size: contain;
    width: 100%;
    height: 100%;
    animation: levitation-shadow 1s ease-in-out infinite alternate;
    transform-origin: 50% 87%;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes levitation-shadow {
    0% {
        transform:scale(1,1);
    }
    100% {
        transform:scale(1.1,1.1);
    }
}

@keyframes levitation {
    0% {
        top: 0%;
    }
    100% {
        top: 5%;
    }
}

.map-point {
    position: absolute;
}
.map-point-img {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
    background-image: url('../img/map_points.svg');
    background-position: 50% 50%;
}


.pres {
    margin: 50px;
}